<!DOCTYPE html>
<html lang="en">
 <head>
  <link href="bootstrap/3.0.0/css/bootstrap.min.css"
     rel="stylesheet">
 </head>
 <body>
  <div class="container">
   <div class="header">
    <h3 class="text-muted">Snapshot images</h3>
   </div>
   <hr/>
   <div>
   This is a list of the files you just snapshot before, click on them to load/download them
   <ul>
    {% for snap in snapshots %}
     <li><a href="{{url_for('uploaded_snapshot', snapshot=snap)}}">{{snap}}</a></li>
    {% endfor %}
   </ul>
   </div>
   <div class="header">
    <h3 class="text-muted">Movies</h3>
   </div>
      <hr/>
      <div>
         This is a list of the movies you just make, click on them to load/download them
          <ul>
            {% for video in videos %}
        <li><a href="{{url_for('uploaded_video', video=video)}}">{{video}}</a></li>
             {% endfor %}
        </ul>
      </div>
   <hr/>
   </div>
 </body>
</html>